
.left{
  float:left;
  display:inline;
}
.right{
  float:right;
  display:inline;
}
.clear:after{display:block; content:''; clear:both;}
.clear{zoom:1;}
li{ list-style:none;}
a{text-decoration:none;}

/* 公司简介 */
.wl_wrap{
  width:100%;  
}
.wl_header{
  width:100%;
  height:360px;
  text-align:center;
  background:url(imgs/ykdt-ban.jpg) no-repeat;
}
.wl_header h1{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding-top: 60px;
    font: 34px/50px 微软雅黑;
}
.wl_header h4{
    font-weight: 400;
    color: rgb(255, 255, 255);
    font: 21px/50px 微软雅黑;
}
.wl_intro{
  width: 1208px;
  min-height: 500px;
  padding: 34px 39px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  top: -70px;
  border-radius: 10px;
  box-shadow:5px 5px 5px #666,-5px -5px 5px #666;
}
.wl_header{
  height:360px;
}
.wl_head{
  height:37px;
  margin-bottom:60px;
}
.wl_href{height:36px; line-height:36px;}
.wl_intro img{width:100%;}
.wl_nav li{
  background-color: #efefef; 
  color: #FF6600;
  padding: 7px 10px;
  font-size: 17px;
  float:left;
}
.wl_ban{
  margin-bottom: 60px;
  width: 100%;
  text-align:center;
}
.wl_ban img{width:900px;}
.wl_font>.wl_firstP{
  color: #4e4e4e;
  text-indent: 2em;
  font: normal 16px/30px "微软雅黑";
}
.wl_images{
  width:100%;
  text-align:center;
}
.wl_images img{
  width:538px;
}
.wl_images p{
  text-align: center;
  color: #5d5d5d;
  font: normal 14px/32px "微软雅黑";
  margin-bottom: 30px;
}

/* 案例 */
.wl_Ali{
  width: 1208px;
  min-height: 500px;
  padding: 34px 39px;
  margin: 0 auto;
  background: #fff;
  box-shadow:5px 5px 5px #666,-5px -5px 5px #666;
  position: relative;
  top: -70px;
  border-radius: 10px;
}
.wl_brend{
  padding-left: 10px;
  /* background: url(imgs/1_03.png) no-repeat; */
  position: absolute;
  top: 43px;
  right: 40px;
}
.wl_alHead{
  width:100%;
  height:36px;
}
.wl_home a{
    font: normal 15px/36px "微软雅黑";
    color: #515151;   
}
.wl_home a:hover{
  color: #ff6600;
  text-decoration: underline;
}
.wl_home .wl_homePage{
  background:url(imgs/1_03.png) no-repeat;
   padding-left: 30px;
   padding-right:10px;
  background-position-Y:3px;
}
.wl_home .wl_href{
   padding-left: 20px;
  background: url(imgs/brend-bg.jpg) 3px no-repeat;
}
.wl_se{
  height:34px;
}
.wl_searchName{
  width:215px;
  height:32px;
  border: 1px solid #cccccc;
  padding-left: 10px;
} 
.wl_btnSearch{
    float: left;
    background: url(imgs/btn.png) no-repeat;
    width: 40px;
    height: 34px;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
}
.wl_cont{
  width:100%;
}
.wl_menu{
  width:286px;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px;
  list-style-position: outside;
}
.wl_menu li{
  box-sizing: border-box;
  width:100%; 
  text-align:center;
  margin-bottom: 16px;
  height:53px;
  background:#ccc;
  border-radius:5px;
  font: normal 17px/56px "微软雅黑";
  color: #575757;
  position:relative;
}
.wl_menu li span{
  position:absolute;
  top:18px;
  right:-20px;
  width:0;
  padding:0;
  border:10px solid transparent;
  border-left:10px solid #ccc;
}
.wl_menuList{
  width:814px;
  margin-bottom: 30px;
}
.wl_menuList li{
  height: 45px;
  line-height: 45px;
  border-bottom: 1px dashed #4e4e4e;
}
.wl_menuList li a{
  color: #58595b;
  display:inline-block;
  font: normal 16px/45px "微软雅黑";
}
.wl_menuList li .wl_listR{
    display:inline-block;
    font: normal 12px/45px "微软雅黑";
    color: #949494;
}
.wl_menuList li .wl_heart,.wl_date{
  font: normal 12px/45px "微软雅黑";
  padding-left:25px;
}

.wl_menuList li .wl_heart{
  background:url(imgs/heart.png) 2px no-repeat;
}
.wl_menuList li .wl_date{
  margin-left:25px;
   background:url(imgs/1_14.png) 2px no-repeat;
}
.wl_menuList li a:hover{
  text-decoration:underline;
}
.wl_page{text-align:center;}
.wl_page a{
     border: 1px solid #c1c1c1;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
.wl_page a:hover{
  border: #f0f0f0 1px solid;
}
.wl_page .wl_pageNum{
    color: #8b8b8b;
    padding: 5px 10px;
    margin: 2px;
    text-decoration: none;
    border-radius: 6px;
    background: #f0f0f0;
}
.wl_page .wl_pageStart{
    color: #8b8b8b;  
    padding: 5px 10px;
    margin: 2px;
    text-decoration: none;
    border-radius: 6px;
    background: #f0f0f0;
}
.wl_page .wl_prePage{
    margin: 2px;
    color: #ddd;
    border-radius: 6px;
    padding: 5px 10px;
}
.wl_page .wl_pageEnd,.wl_nextPage,#wl_go{
    color: #8b8b8b;
    padding: 5px 10px;
    margin: 2px;
    text-decoration: none;
    border-radius: 6px;
    background: #f0f0f0;
}
.wl_page .wl_listGo{
    color: #8b8b8b;
    text-align: center;
    margin-left: 14px;
    margin-right: 4px;
}
.wl_page #wl_pageText{
    padding: 5px 5px;
    width: 50px;
    border: 1px solid #c1c1c1;
}
/* 专业领域 */
.wl_Tmain{
  width:100%;
  margin-top:50px;
  border-top:2px solid #074b8a;
}
.wl_borderR{
 margin-left: 45%;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 45px solid #074b8a;
}
.wl_row{
  width:990px;
  margin:0 auto;
  margin-bottom:42px;
  padding-bottom:28px;
}
.wl_timeLine{
  width:100%; 
  /* overflow: hidden; */
  position: relative;
  /* height:200px; */
  float:left;
  margin-top:42px;
}
.wl_centerLine{
    position: absolute;
    width: 4px;
    top: 0;
    left: 50%;
    margin-left: -2px;
    height: 100%;
    background: #ccc;
}

.wl_centerRadius{
   width: 52px;
    height: 52px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    z-index: 1;
    -webkit-border-radius: 50%;
    border: 4px solid #fff;
    background-color: rgb(238, 238, 238);
}
.wl_centerRadius img{
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.wl_centerRadius:hover{
  background-color: rgb(188, 188, 188);
}
.wl_conBlock{
  width: 401px;
  padding: 20px;
  background-color: #eee;
  border: 2px solid #eeeeee;
  float:left;
  background: url(imgs/zyly-titlebg.jpg) no-repeat;
}
.wl_conBlock h2{
    font-family: "微软雅黑";
    font-size: 18px !important;
    color: #595959;
    letter-spacing: 2px;
    margin-top: 0;
    padding-bottom: 10px;
}
.wl_committee{
   margin-top: 32px;
}
.wl_comList {
  /* height:145px; */
}
.wl_comList li{
    float: left;
    width: 100%;
    height: 32px;
    overflow: hidden;
    line-height: 32px;
}
.wl_comList li span{
    color: #074b8a;
    font: bold 12px "微软雅黑";
    margin-right: 10px;
}
.wl_comList li a{
    color: #595958;
    height: 32px;
    font: normal 14px/32px "微软雅黑";
}
.wl_comList li a:hover{
  text-decoration:underline;
}
.conSecond{
  float:right;
  animation: cd-bounce-2 0.6s;
}
.wl_padTop{
  margin-top:-3em;
}

/* 招贤纳士 */
.wl_zxnsMain{
  width:1050px;
  padding:0 40px;
  margin:0 auto;
} 
.wl_zxns{
  width:100%;
  margin-top:40px;
}
.wl_zxns .wl_zxnsCard{
    margin-left: 25px;
    float: left;
    width: 398px;
    height: 179px;
    background: url(imgs/lxwm-bg.jpg) no-repeat;
    padding: 30px 45px;
    margin-bottom: 38px;
}
.wl_zxnsCard h2{
  width:398px;
  height:44px;
}
.wl_zxnsCard h2 .wl_fensuo{
    font: bold 18px/24px "微软雅黑";
    color: #6a6868;
    margin-bottom: 20px;
    float:left;
}
.wl_zxnsCard h2 .wl_name{
/*     font: bold 18px/24px "微软雅黑"; */
    color: #4e4e4e;
    margin-bottom: 20px;
    float:right;
}
.wl_zxnsCard p .wl_userName{
    font: normal 14px/24px "微软雅黑";
    color: #6d6d6d;
}
.wl_zxnsCard p .wl_call{
    font: normal 12px/24px "微软雅黑";
    color: #7a7a7a;
    padding-left: 10px;
}

